<div class="service-block-component py-lg-3">
  <div (click)="goto(redirectUrl)" class="d-none d-lg-block">
    <app-service-block-details [content]="content"
                               [imgAlt]="imgAlt"
                               [imgHeight]="imgHeight"
                               [imgSrc]="imgSrc"
                               [imgWidth]="imgWidth"
                               [redirectUrl]="redirectUrl"
                               [title]="title"></app-service-block-details>
  </div>

  <div class="d-lg-none">
    <app-service-block-details [content]="content"
                               [imgAlt]="imgAlt"
                               [imgHeight]="imgHeight"
                               [imgSrc]="imgSrc"
                               [imgWidth]="imgWidth"
                               [redirectUrl]="redirectUrl"
                               [title]="title"></app-service-block-details>
  </div>
</div>
