@import "../../../../../styles/variables";
@import "../../../../../styles/mixins";

$line-height: 4.813rem;

.hero-component {
  background: linear-gradient(180deg, $header-bg 0%, rgba(54, 142, 205, 0) 100%);

  .hero-banner {
    height: 45.1875rem;
    width: auto;
    background-image: url('../../../../../assets/images/hero.png');
    background-position: center;
    background-repeat: no-repeat;

    @include media-breakpoint-down(lg) {
      height: 25.1875rem;
    }

    div.btn {
      position: absolute;
      height: 10.5rem;
      width: 10.5rem;
      bottom: -4.688rem;
      left: -4.688rem;
      text-align: center;
      background-image: url('../../../../../assets/images/shape_03.svg');
      overflow: hidden;
      clip-path: circle(5.2rem at 50% 50%);
      transition: transform 0.25s ease-in-out;

      &:hover {
        transform: scale(1.025);
      }
    }

    .scroll-down {
      position: absolute;
      right: -9rem;
      bottom: 8rem;
      transform: rotate(90deg);

      .line {
        transform: rotate(90deg);
        margin-left: calc($line-height / 2) + 0.62rem;

        span {
          font-size: 1.25rem;
        }

        img {
          height: $line-height;
        }
      }
    }
  }

  .shape_01 {
    &:after {
      @include shape_01;
    }
  }

  .shape_02 {
    &:after {
      @include shape_02;
    }
  }
}
