@import "../../../../styles/variables";

.social-network-component {
  i {
    height: 45px;
    width: 45px;
    margin-right: 8px;
    color: $secondary;
    border-radius: 50%;
    text-align: center;
    transition: transform 0.3s ease-in-out !important;
    background-color: $light;

    &:before {
      line-height: 45px;
      font-size: 16px;
    }

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }
}
